doctype
html( lang="en" )
    head
        title Stylized Stories on Camper News by Amr Sekilly for Free Code Camp - freeCodeCamp
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Stylized Stories on Camper News by Amr Sekilly for Free Code Camp' )
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
        link(href="css/main.css", rel="stylesheet")
 
    body(style="padding-top:5vh;")
        .container.background
          .row
            #stories
              
              
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        script( src='js/min/main-min.js' )
